<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      TinyApp
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
<body>
  <% include ../partials/_header %>
  <h1>ShortURL:<%= shortURL %></h1>
  <form method="POST" action="/urls/<%= shortURL %>">
      <div class="form-row">
        <div class="col">
          <input name='longURL' type="text" class="form-control" placeholder="Change ther URL" value='<%=  longURL %>'>
        </div>
        <div class="col">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
  </form>
</body>
</html>

<!--- 
<%= shortURL %>
<%=  longURL %>
--->