<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
<body>
  <% include ../partials/_nav %>
  <div class='text'>
    <h1>TinyApp</h1>
    <p>Welcome to TinyApp</p>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ShortURL</th>
          <th scope="col">LongURL</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <%urls.forEach( link  => { %>
      <tr>
        <form method="POST" action="/urls/<%= link.shortUrl %>/delete" style="display:inline;">
          <td>
            <%= link.shortUrl %>
          </td>
          <td>
            <a href="<%= link.longUrl %>"><%= link.longUrl %></a>
          </td>
          <td>
            <button class="btn btn-danger" type="submit">Delete</button>
          </td>
          <td>
            <a href="/urls/<%= link.shortUrl %>" class="btn btn-info"> Edit </a>
          </td>
        </form>
        <%}) %>
      </tr>
    </table>
  </div>
</body>

</html>